PORT=8000
AUTHORIZATION=""
TRUST_PROXY=1

SENTRY_DSN=""

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
# Migrate the database programatically
MIGRATE_DB_PROGRAMATICALLY=1
# Database SSL
DATABASE_USE_SSL=1